<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>DataContext</Title>
			<Author>Waten</Author>
			<Description>DataContext</Description>
			<Shortcut>dc</Shortcut>
		</Header>
		<Snippet>
			<Code Language="XAML">
				<![CDATA[<DataTemplate DataType="{x:Type local:$Class$}">$end$$selected$
				</DataTemplate>]]>
			</Code>
			<Declarations>
				<Literal>
					<ID>Class</ID>
					<ToolTip>tuikasurukurkasu</ToolTip>
					<Default>Class</Default>
				</Literal>
			</Declarations>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>